DB_HOST=db
DB_PORT=5432
DB_NAME=jdt17_loyalty
DB_USER=loyalty
DB_PASSWORD=change_this_in_production

REDIS_HOST=redis
REDIS_PASSWORD=change_this_redis_password_in_production

JWT_SECRET=change_this_jwt_secret_in_production_use_openssl_rand_hex_64

CORS_ALLOWED_ORIGINS=http://pistos.binaryneedle.my.id
NEXT_PUBLIC_API_URL=http://pistos.binaryneedle.my.id
